##
## This is a Velocity template for generating an HTML
## document describing an Ant Task/Type 
## 
## Objects expected in context:
##
##     $taskDoc - Describes an Ant Task/Type (of type AntDoc)
##
## 
= $taskDoc.getAntName()

== Description

$taskDoc.getComment()

== Attributes

|====

|Attribute |Description |Type |Required
#foreach ($attr in $taskDoc.attributes )

|$attr
|$taskDoc.getAttributeComment($attr)
|$taskDoc.getAttributeType($attr)
#if( $taskDoc.getAttributeRequired($attr) )
|Yes $taskDoc.getAttributeRequired($attr)
  #elseif ( $taskDoc.getAttributeNotRequired($attr) )
|No $taskDoc.getAttributeNotRequired($attr)
  #else ?
  #end
#end

|====

== Parameters accepted as nested elements

#if ($taskDoc.isTaskContainer())
This Task is a Container (it accepts nested Tasks).
#end

#if ($taskDoc.supportsCharacters())
This Task accepts text in its element body.
#end

#foreach ($element in $taskDoc.getNestedElements())
            
  #set($elementDoc = $taskDoc.getElementDoc($element))

                ####
		#### Put a link for those types that are in this javadoc run
		#### and have nested elements (since nested-nested elements
		#### is the only info we are not showing for each nested element)
		####
  #if( $elementDoc.sourceIncluded() && ($elementDoc.getNestedElements().hasMoreElements() || $elementDoc.isTagged()))
		    <a href="${elementDoc.getFullClassName()}.html">
                    <strong>&lt;$element&gt; ...</strong>
		    </a>
  #else
                    <strong>&lt;$element&gt;</strong>

    #if ( ! $elementDoc.sourceIncluded() )
                    (Of type ${elementDoc.getAntName()} )
    #end
  #end

  #if($elementDoc.getComment())
$elementDoc.getComment()
  #end

|====

|Attribute |Description |Type |Required
#foreach ($elementAttr in $elementDoc.getAttributes())

|$elementAttr
|
###                #if($elementDoc.getAttributeComment($elementAttr))
             
$!elementDoc.getAttributeComment($elementAttr)
###                #end

|$elementDoc.getAttributeType($elementAttr)
    #if($elementDoc.getAttributeRequired($elementAttr))
|Yes $elementDoc.getAttributeRequired($elementAttr)
    #elseif ( $elementDoc.getAttributeNotRequired($elementAttr) )
|No $elementDoc.getAttributeNotRequired($elementAttr)
    #else ?
    #end
  #end
#end

|====

